# tasks/main.yml
- name: Ensure required variables are set
  assert:
    that:
      - mongo_admin_user is defined
      - mongo_admin_pass is defined
      - mongo_app_db is defined
      - mongo_app_user is defined
      - mongo_app_pass is defined
    fail_msg: "Required MongoDB variables are missing! Set them in env-config.yaml file."

- name: Ensure required packages are installed
  package:
    name:
      - python3-pip
      - dnf-plugins-core
      - curl
      - python3-pymongo
    state: present

- name: Copy MongoDB repo file
  copy:
    src: mongodb-org-7.0.repo
    dest: /etc/yum.repos.d/mongodb-org-7.0.repo
    owner: root
    group: root
    mode: 0644

- name: Install MongoDB packages
  package:
    name: mongodb-org
    state: present
    # gpg validation breaks the installation
    disable_gpg_check: yes

- name: Ensure MongoDB data directory exists
  file:
    path: "{{ item }}"
    state: directory
    owner: mongod
    group: mongod
    mode: 0755
  loop:
    - /var/lib/mongodb
    - /data/db

- name: Configure bindIp
  lineinfile:
    path: /etc/mongod.conf
    regexp: '^(\s*)bindIp:.*'
    line: "  bindIp: 0.0.0.0"
    backup: yes

- name: Enable and start MongoDB
  systemd:
    name: mongod
    enabled: yes
    state: restarted


- name: Wait for MongoDB to be available
  wait_for:
    host: 127.0.0.1
    port: 27017
    timeout: 30

- name: Create MongoDB admin user
  community.mongodb.mongodb_user: 
    database: admin
    name: "{{ mongo_admin_user }}"
    password: "{{ mongo_admin_pass }}"
    roles:
      - db: admin
        role: root
    state: present

- name: Enable authentication in mongod.conf
  blockinfile:
    path: /etc/mongod.conf
    block: |
      security:
        authorization: enabled

- name: Enable and start MongoDB
  systemd:
    name: mongod
    enabled: yes
    state: restarted

- name: Create application database and user
  community.mongodb.mongodb_user: 
    login_user: "{{ mongo_admin_user }}"
    login_password: "{{ mongo_admin_pass }}"
    database: admin
    name: "{{ mongo_app_user }}"
    password: "{{ mongo_app_pass }}"
    roles:
      - db: "{{ mongo_app_db }}"
        role: readWrite
    state: present
